workflow-gmail-lead-capture.json
{
  "name": "Gmail Lead Capture & Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "pollInterval": 5,
        "incomingEmail": {
          "mode": "mailbox",
          "value": "inbox"
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailReadMail",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return {
  from: $json.from[0].email,
  subject: $json.subject,
  body: $json.bodyText,
  timestamp: new Date().toISOString()
};"
      },
      "name": "Extract Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "spreadsheetId": "YOUR_SHEET_ID",
        "resource": "spreadsheet",
        "operation": "append",
        "columns": "from,subject,body,timestamp"
      },
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "to": "={{$node[\"Gmail Trigger\"].json.from[0].email}}",
        "subject": "Thank you for contacting us",
        "textOnly": false,
        "htmlBody": "<h2>Thank You!</h2><p>We have received your inquiry and will respond shortly.</p>"
      },
      "name": "Send Reply Email",
      "type": "n8n-nodes-base.gmailSendEmail",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{"node": "Extract Email Data", "type": "main", "index": 0}]]
    },
    "Extract Email Data": {
      "main": [[{"node": "Save to Google Sheets", "type": "main", "index": 0}, {"node": "Send Reply Email", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "description": "Automatically capture leads from Gmail inbox, save to Google Sheets, and send auto-reply",
  "versionId": "1.0.0"
}
